{
    "openapi": "3.0.0",
    "info": {
      "title": "Manager API",
      "version": "24.11.6.1925"
    },
    "servers": [
      {
        "url": "https://comptabilite.audetfinancement.com/api2"
      }
    ],
    "paths": {
      "/access-tokens": {
        "get": {
          "operationId": "GetAccessTokens",
          "summary": "Access Tokens",
          "description": "Retrieve list of access tokens. For more information, see https://www.manager.io/guides?access-tokens",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Name",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Name",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/amortization-entries": {
        "get": {
          "operationId": "GetAmortizationEntries",
          "summary": "Amortization Entries",
          "description": "Retrieve list of amortization entries. For more information, see https://www.manager.io/guides?amortization-entries",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Date",
                  "Reference",
                  "Description",
                  "IntangibleAssets",
                  "Division",
                  "Amount",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Date",
                    "Reference",
                    "Description",
                    "IntangibleAssets",
                    "Division",
                    "Amount",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/balance-sheet-account-starting-balance-list": {
        "get": {
          "operationId": "GetBalanceSheetAccountStartingBalanceList",
          "summary": "BalanceSheetAccountStartingBalanceList",
          "description": "Retrieve list of balancesheetaccountstartingbalancelist. For more information, see https://www.manager.io/guides?balance-sheet-account-starting-balance-list",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "BalanceSheetAccount",
                  "Debit",
                  "Credit",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "BalanceSheetAccount",
                    "Debit",
                    "Credit",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/balance-sheet-transactions": {
        "get": {
          "operationId": "GetBalanceSheetTransactions",
          "summary": "BalanceSheetTransactions",
          "description": "Retrieve list of balancesheettransactions. For more information, see https://www.manager.io/guides?balance-sheet-transactions",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Name",
                  "BaseBalance",
                  "AccountBalance",
                  "Date",
                  "Transaction",
                  "BankOrCashAccount",
                  "ExpenseClaimPayer",
                  "Customer",
                  "Supplier",
                  "Employee",
                  "Investment",
                  "CapitalAccount",
                  "Description",
                  "Qty",
                  "Balance",
                  "Name",
                  "Qty",
                  "MarketValue",
                  "Investment",
                  "Qty",
                  "MarketValue",
                  "ClosingBalance",
                  "Date",
                  "Transaction",
                  "BankOrCashAccount",
                  "ExpenseClaimPayer",
                  "Customer",
                  "Supplier",
                  "Employee",
                  "InventoryItem",
                  "CapitalAccount",
                  "Description",
                  "Qty",
                  "Balance",
                  "Name",
                  "Qty",
                  "AverageCost",
                  "TotalCost",
                  "Name",
                  "Balance",
                  "Date",
                  "Transaction",
                  "ConversionMarkup",
                  "Debit",
                  "Credit",
                  "Account",
                  "ForeignBalance",
                  "ConvertedBalance",
                  "ClosingBalance",
                  "Date",
                  "Transaction",
                  "Account",
                  "BankOrCashAccount",
                  "ExpenseClaimPayer",
                  "Customer",
                  "Supplier",
                  "Employee",
                  "InventoryKit",
                  "InventoryItem",
                  "Investment",
                  "FixedAsset",
                  "IntangibleAsset",
                  "CapitalAccount",
                  "SpecialAccount",
                  "Description",
                  "Tax",
                  "Qty",
                  "QtyReduction",
                  "PurchaseCost",
                  "TransactionAmount",
                  "CurrencyAmount",
                  "Debit",
                  "Credit"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Name",
                    "BaseBalance",
                    "AccountBalance",
                    "Date",
                    "Transaction",
                    "BankOrCashAccount",
                    "ExpenseClaimPayer",
                    "Customer",
                    "Supplier",
                    "Employee",
                    "Investment",
                    "CapitalAccount",
                    "Description",
                    "Qty",
                    "Balance",
                    "Name",
                    "Qty",
                    "MarketValue",
                    "Investment",
                    "Qty",
                    "MarketValue",
                    "ClosingBalance",
                    "Date",
                    "Transaction",
                    "BankOrCashAccount",
                    "ExpenseClaimPayer",
                    "Customer",
                    "Supplier",
                    "Employee",
                    "InventoryItem",
                    "CapitalAccount",
                    "Description",
                    "Qty",
                    "Balance",
                    "Name",
                    "Qty",
                    "AverageCost",
                    "TotalCost",
                    "Name",
                    "Balance",
                    "Date",
                    "Transaction",
                    "ConversionMarkup",
                    "Debit",
                    "Credit",
                    "Account",
                    "ForeignBalance",
                    "ConvertedBalance",
                    "ClosingBalance",
                    "Date",
                    "Transaction",
                    "Account",
                    "BankOrCashAccount",
                    "ExpenseClaimPayer",
                    "Customer",
                    "Supplier",
                    "Employee",
                    "InventoryKit",
                    "InventoryItem",
                    "Investment",
                    "FixedAsset",
                    "IntangibleAsset",
                    "CapitalAccount",
                    "SpecialAccount",
                    "Description",
                    "Tax",
                    "Qty",
                    "QtyReduction",
                    "PurchaseCost",
                    "TransactionAmount",
                    "CurrencyAmount",
                    "Debit",
                    "Credit"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/bank-and-cash-accounts": {
        "get": {
          "operationId": "GetBankAndCashAccounts",
          "summary": "Bank and Cash Accounts",
          "description": "Retrieve list of bank and cash accounts. For more information, see https://www.manager.io/guides?bank-and-cash-accounts",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Code",
                  "Name",
                  "ControlAccount",
                  "Division",
                  "UncategorizedReceipts",
                  "UncategorizedPayments",
                  "ClearedBalance",
                  "PendingDeposits",
                  "PendingWithdrawals",
                  "ActualBalance",
                  "AvailableCredit",
                  "LastBankReconciliation",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Code",
                    "Name",
                    "ControlAccount",
                    "Division",
                    "UncategorizedReceipts",
                    "UncategorizedPayments",
                    "ClearedBalance",
                    "PendingDeposits",
                    "PendingWithdrawals",
                    "ActualBalance",
                    "AvailableCredit",
                    "LastBankReconciliation",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/bank-feed-providers": {
        "get": {
          "operationId": "GetBankFeedProviders",
          "summary": "Bank Feed Providers",
          "description": "Retrieve list of bank feed providers. For more information, see https://www.manager.io/guides?bank-feed-providers",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Name",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Name",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/bank-reconciliations": {
        "get": {
          "operationId": "GetBankReconciliations",
          "summary": "Bank Reconciliations",
          "description": "Retrieve list of bank reconciliations. For more information, see https://www.manager.io/guides?bank-reconciliations",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Date",
                  "BankAccount",
                  "StatementBalance",
                  "Discrepancy",
                  "Status",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Date",
                    "BankAccount",
                    "StatementBalance",
                    "Discrepancy",
                    "Status",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/bank-or-cash-account-starting-balance-list": {
        "get": {
          "operationId": "GetBankOrCashAccountStartingBalanceList",
          "summary": "BankOrCashAccountStartingBalanceList",
          "description": "Retrieve list of bankorcashaccountstartingbalancelist. For more information, see https://www.manager.io/guides?bank-or-cash-account-starting-balance-list",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "BankOrCashAccount",
                  "ClearedBalance",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "BankOrCashAccount",
                    "ClearedBalance",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/billable-time": {
        "get": {
          "operationId": "GetBillableTime",
          "summary": "Billable Time",
          "description": "Retrieve list of billable time. For more information, see https://www.manager.io/guides?billable-time",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Date",
                  "Customer",
                  "Description",
                  "TimeSpent",
                  "Division",
                  "Amount",
                  "Status",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Date",
                    "Customer",
                    "Description",
                    "TimeSpent",
                    "Division",
                    "Amount",
                    "Status",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/capital-accounts": {
        "get": {
          "operationId": "GetCapitalAccounts",
          "summary": "Capital Accounts",
          "description": "Retrieve list of capital accounts. For more information, see https://www.manager.io/guides?capital-accounts",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Code",
                  "Name",
                  "ControlAccount",
                  "Division",
                  "Balance",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Code",
                    "Name",
                    "ControlAccount",
                    "Division",
                    "Balance",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/capital-account-starting-balance-list": {
        "get": {
          "operationId": "GetCapitalAccountStartingBalanceList",
          "summary": "CapitalAccountStartingBalanceList",
          "description": "Retrieve list of capitalaccountstartingbalancelist. For more information, see https://www.manager.io/guides?capital-account-starting-balance-list",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "CapitalAccount",
                  "Balance",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "CapitalAccount",
                    "Balance",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/chart-of-accounts": {
        "get": {
          "operationId": "GetChartOfAccounts",
          "summary": "Chart of Accounts",
          "description": "Retrieve list of chart of accounts. For more information, see https://www.manager.io/guides?chart-of-accounts",
          "parameters": [
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Key",
                    "Code",
                    "Name"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/checkbox-custom-fields": {
        "get": {
          "operationId": "GetCheckboxCustomFields",
          "summary": "Checkbox Custom Fields",
          "description": "Retrieve list of checkbox custom fields. For more information, see https://www.manager.io/guides?checkbox-custom-fields",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Name",
                  "Placement",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Name",
                    "Placement",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/classic-custom-fields": {
        "get": {
          "operationId": "GetClassicCustomFields",
          "summary": "Classic Custom Fields",
          "description": "Retrieve list of classic custom fields. For more information, see https://www.manager.io/guides?classic-custom-fields",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Name",
                  "Placement",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Name",
                    "Placement",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/credit-notes": {
        "get": {
          "operationId": "GetCreditNotes",
          "summary": "Credit Notes",
          "description": "Retrieve list of credit notes. For more information, see https://www.manager.io/guides?credit-notes",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Date",
                  "Reference",
                  "Customer",
                  "SalesInvoice",
                  "Description",
                  "Amount",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Date",
                    "Reference",
                    "Customer",
                    "SalesInvoice",
                    "Description",
                    "Amount",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/credit-note-footers": {
        "get": {
          "operationId": "GetCreditNoteFooters",
          "summary": "CreditNoteFooters",
          "description": "Retrieve list of creditnotefooters. For more information, see https://www.manager.io/guides?credit-note-footers",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Name",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Name",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/credit-note-lines": {
        "get": {
          "operationId": "GetCreditNoteLines",
          "summary": "CreditNoteLines",
          "description": "Retrieve list of creditnotelines. For more information, see https://www.manager.io/guides?credit-note-lines",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Date",
                  "Reference",
                  "Customer",
                  "Description",
                  "Item",
                  "Account",
                  "LineDescription",
                  "Qty",
                  "UnitPrice",
                  "Project",
                  "Division",
                  "TaxCode",
                  "TaxAmount",
                  "Amount"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Date",
                    "Reference",
                    "Customer",
                    "Description",
                    "Item",
                    "Account",
                    "LineDescription",
                    "Qty",
                    "UnitPrice",
                    "Project",
                    "Division",
                    "TaxCode",
                    "TaxAmount",
                    "Amount"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/customers": {
        "get": {
          "operationId": "GetCustomers",
          "summary": "Customers",
          "description": "Retrieve list of customers. For more information, see https://www.manager.io/guides?customers",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Code",
                  "Name",
                  "EmailAddress",
                  "ControlAccount",
                  "Division",
                  "BillingAddress",
                  "DeliveryAddress",
                  "Receipts",
                  "Payments",
                  "SalesQuotes",
                  "SalesOrders",
                  "SalesInvoices",
                  "CreditNotes",
                  "DeliveryNotes",
                  "QtyToDeliver",
                  "Uninvoiced",
                  "AccountsReceivable",
                  "WithholdingTaxReceivable",
                  "Status",
                  "AvailableCredit",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Code",
                    "Name",
                    "EmailAddress",
                    "ControlAccount",
                    "Division",
                    "BillingAddress",
                    "DeliveryAddress",
                    "Receipts",
                    "Payments",
                    "SalesQuotes",
                    "SalesOrders",
                    "SalesInvoices",
                    "CreditNotes",
                    "DeliveryNotes",
                    "QtyToDeliver",
                    "Uninvoiced",
                    "AccountsReceivable",
                    "WithholdingTaxReceivable",
                    "Status",
                    "AvailableCredit",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/customers-qty-to-deliver": {
        "get": {
          "operationId": "GetCustomersQtyToDeliver",
          "summary": "CustomersQtyToDeliver",
          "description": "Retrieve list of customersqtytodeliver. For more information, see https://www.manager.io/guides?customers-qty-to-deliver",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Customer",
                  "InventoryItem",
                  "QtyToDeliver"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Customer",
                    "InventoryItem",
                    "QtyToDeliver"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/date-custom-fields": {
        "get": {
          "operationId": "GetDateCustomFields",
          "summary": "Date Custom Fields",
          "description": "Retrieve list of date custom fields. For more information, see https://www.manager.io/guides?date-custom-fields",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Name",
                  "Placement",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Name",
                    "Placement",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/debit-notes": {
        "get": {
          "operationId": "GetDebitNotes",
          "summary": "Debit Notes",
          "description": "Retrieve list of debit notes. For more information, see https://www.manager.io/guides?debit-notes",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Date",
                  "Reference",
                  "Supplier",
                  "PurchaseInvoice",
                  "Description",
                  "Amount",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Date",
                    "Reference",
                    "Supplier",
                    "PurchaseInvoice",
                    "Description",
                    "Amount",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/debit-note-footers": {
        "get": {
          "operationId": "GetDebitNoteFooters",
          "summary": "DebitNoteFooters",
          "description": "Retrieve list of debitnotefooters. For more information, see https://www.manager.io/guides?debit-note-footers",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Name",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Name",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/debit-note-lines": {
        "get": {
          "operationId": "GetDebitNoteLines",
          "summary": "DebitNoteLines",
          "description": "Retrieve list of debitnotelines. For more information, see https://www.manager.io/guides?debit-note-lines",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "IssueDate",
                  "Reference",
                  "Supplier",
                  "Description",
                  "Item",
                  "Account",
                  "LineDescription",
                  "Qty",
                  "UnitPrice",
                  "Project",
                  "Division",
                  "TaxCode",
                  "TaxAmount",
                  "Amount"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "IssueDate",
                    "Reference",
                    "Supplier",
                    "Description",
                    "Item",
                    "Account",
                    "LineDescription",
                    "Qty",
                    "UnitPrice",
                    "Project",
                    "Division",
                    "TaxCode",
                    "TaxAmount",
                    "Amount"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/delivery-notes": {
        "get": {
          "operationId": "GetDeliveryNotes",
          "summary": "Delivery Notes",
          "description": "Retrieve list of delivery notes. For more information, see https://www.manager.io/guides?delivery-notes",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "DeliveryDate",
                  "Reference",
                  "OrderNumber",
                  "InvoiceNumber",
                  "Customer",
                  "InventoryLocation",
                  "Description",
                  "QtyDelivered",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "DeliveryDate",
                    "Reference",
                    "OrderNumber",
                    "InvoiceNumber",
                    "Customer",
                    "InventoryLocation",
                    "Description",
                    "QtyDelivered",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/delivery-note-footers": {
        "get": {
          "operationId": "GetDeliveryNoteFooters",
          "summary": "DeliveryNoteFooters",
          "description": "Retrieve list of deliverynotefooters. For more information, see https://www.manager.io/guides?delivery-note-footers",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Name",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Name",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/delivery-note-lines": {
        "get": {
          "operationId": "GetDeliveryNoteLines",
          "summary": "DeliveryNoteLines",
          "description": "Retrieve list of deliverynotelines. For more information, see https://www.manager.io/guides?delivery-note-lines",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Date",
                  "Reference",
                  "Customer",
                  "Description",
                  "Item",
                  "LineDescription",
                  "Qty"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Date",
                    "Reference",
                    "Customer",
                    "Description",
                    "Item",
                    "LineDescription",
                    "Qty"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/depreciation-entries": {
        "get": {
          "operationId": "GetDepreciationEntries",
          "summary": "Depreciation Entries",
          "description": "Retrieve list of depreciation entries. For more information, see https://www.manager.io/guides?depreciation-entries",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Date",
                  "Reference",
                  "Description",
                  "FixedAssets",
                  "Divisions",
                  "Amount",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Date",
                    "Reference",
                    "Description",
                    "FixedAssets",
                    "Divisions",
                    "Amount",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/divisions": {
        "get": {
          "operationId": "GetDivisions",
          "summary": "Divisions",
          "description": "Retrieve list of divisions. For more information, see https://www.manager.io/guides?divisions",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Code",
                  "Name",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Code",
                    "Name",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/employees": {
        "get": {
          "operationId": "GetEmployees",
          "summary": "Employees",
          "description": "Retrieve list of employees. For more information, see https://www.manager.io/guides?employees",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Code",
                  "Name",
                  "EmailAddress",
                  "ControlAccount",
                  "Division",
                  "Balance",
                  "Status",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Code",
                    "Name",
                    "EmailAddress",
                    "ControlAccount",
                    "Division",
                    "Balance",
                    "Status",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/employee-starting-balance-list": {
        "get": {
          "operationId": "GetEmployeeStartingBalanceList",
          "summary": "EmployeeStartingBalanceList",
          "description": "Retrieve list of employeestartingbalancelist. For more information, see https://www.manager.io/guides?employee-starting-balance-list",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Employee",
                  "Balance",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Employee",
                    "Balance",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/exchange-rates": {
        "get": {
          "operationId": "GetExchangeRates",
          "summary": "Exchange Rates",
          "description": "Retrieve list of exchange rates. For more information, see https://www.manager.io/guides?exchange-rates",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Date",
                  "Currency",
                  "Rate",
                  "Transactions",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Date",
                    "Currency",
                    "Rate",
                    "Transactions",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/expense-claims": {
        "get": {
          "operationId": "GetExpenseClaims",
          "summary": "Expense Claims",
          "description": "Retrieve list of expense claims. For more information, see https://www.manager.io/guides?expense-claims",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Date",
                  "Reference",
                  "PaidBy",
                  "Payee",
                  "Description",
                  "Accounts",
                  "Amount",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Date",
                    "Reference",
                    "PaidBy",
                    "Payee",
                    "Description",
                    "Accounts",
                    "Amount",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/expense-claim-footers": {
        "get": {
          "operationId": "GetExpenseClaimFooters",
          "summary": "ExpenseClaimFooters",
          "description": "Retrieve list of expenseclaimfooters. For more information, see https://www.manager.io/guides?expense-claim-footers",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Name",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Name",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/expense-claim-lines": {
        "get": {
          "operationId": "GetExpenseClaimLines",
          "summary": "ExpenseClaimLines",
          "description": "Retrieve list of expenseclaimlines. For more information, see https://www.manager.io/guides?expense-claim-lines",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Date",
                  "Reference",
                  "Payer",
                  "Customer",
                  "Supplier",
                  "Description",
                  "Item",
                  "Account",
                  "LineDescription",
                  "Qty",
                  "UnitPrice",
                  "Project",
                  "Division",
                  "TaxCode",
                  "TaxAmount",
                  "Amount"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Date",
                    "Reference",
                    "Payer",
                    "Customer",
                    "Supplier",
                    "Description",
                    "Item",
                    "Account",
                    "LineDescription",
                    "Qty",
                    "UnitPrice",
                    "Project",
                    "Division",
                    "TaxCode",
                    "TaxAmount",
                    "Amount"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/fixed-assets": {
        "get": {
          "operationId": "GetFixedAssets",
          "summary": "Fixed Assets",
          "description": "Retrieve list of fixed assets. For more information, see https://www.manager.io/guides?fixed-assets",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Code",
                  "Name",
                  "Description",
                  "DepreciationRate",
                  "ControlAccount",
                  "Division",
                  "AcquisitionCost",
                  "Depreciation",
                  "BookValue",
                  "Status",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Code",
                    "Name",
                    "Description",
                    "DepreciationRate",
                    "ControlAccount",
                    "Division",
                    "AcquisitionCost",
                    "Depreciation",
                    "BookValue",
                    "Status",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/fixed-asset-starting-balance-list": {
        "get": {
          "operationId": "GetFixedAssetStartingBalanceList",
          "summary": "FixedAssetStartingBalanceList",
          "description": "Retrieve list of fixedassetstartingbalancelist. For more information, see https://www.manager.io/guides?fixed-asset-starting-balance-list",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "FixedAsset",
                  "AcquisitionCost",
                  "AccumulatedDepreciation",
                  "BookValue",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "FixedAsset",
                    "AcquisitionCost",
                    "AccumulatedDepreciation",
                    "BookValue",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/folders": {
        "get": {
          "operationId": "GetFolders",
          "summary": "Folders",
          "description": "Retrieve list of folders. For more information, see https://www.manager.io/guides?folders",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Description",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Description",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/foreign-currencies": {
        "get": {
          "operationId": "GetForeignCurrencies",
          "summary": "Foreign Currencies",
          "description": "Retrieve list of foreign currencies. For more information, see https://www.manager.io/guides?foreign-currencies",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Code",
                  "Name",
                  "Symbol",
                  "DecimalPlaces",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Code",
                    "Name",
                    "Symbol",
                    "DecimalPlaces",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/goods-receipts": {
        "get": {
          "operationId": "GetGoodsReceipts",
          "summary": "Goods Receipts",
          "description": "Retrieve list of goods receipts. For more information, see https://www.manager.io/guides?goods-receipts",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Date",
                  "Reference",
                  "OrderNumber",
                  "InvoiceNumber",
                  "Supplier",
                  "InventoryLocation",
                  "Description",
                  "QtyReceived",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Date",
                    "Reference",
                    "OrderNumber",
                    "InvoiceNumber",
                    "Supplier",
                    "InventoryLocation",
                    "Description",
                    "QtyReceived",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/goods-receipt-footers": {
        "get": {
          "operationId": "GetGoodsReceiptFooters",
          "summary": "GoodsReceiptFooters",
          "description": "Retrieve list of goodsreceiptfooters. For more information, see https://www.manager.io/guides?goods-receipt-footers",
          "parameters": [
            {
              "name": "term",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sortByDesc",
              "required": false,
              "in": "query",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "sortBy",
              "required": false,
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "Image",
                  "Attachment",
                  "Name",
                  "Timestamp"
                ]
              }
            },
            {
              "name": "skip",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "pageSize",
              "required": false,
              "in": "query",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "fields",
              "required": false,
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "Image",
                    "Attachment",
                    "Name",
                    "Timestamp"
                  ]
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {}
              }
            }
          }
        }
      },
      "/goods-receipt-lines": {
        "get": {
          "operationId": "GetGoodsReceiptLines",
          "summary": "GoodsReceiptLines",
          "description": "Retrieve list of goodsreceiptlines. For more information, see https://www.manager.io/guides?goods-receipt-lines",
[...]
